@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700;800&display=swap');
@import "tailwindcss";


:root {
}

@theme inline {
}

@media (prefers-color-scheme: dark) {
}

body {
    font-family: 'Plus Jakarta Sans', sans-serif;
}

/* globals.css */
.bg-dot-pattern {
  background-image: radial-gradient(#003c5c 1.6px, transparent 1.6px);
  background-size: 12px 12px;
}


h1, h2, h3 { font-family: var(--font-display), system-ui, sans-serif; letter-spacing: -0.02em; }
